# -------------------------------------------------------------------------
# GLOBAL ASSIGNMENT
# Every file (*) in the repo requires a review from Lead Dev and CO-Dev.
# -------------------------------------------------------------------------
* @Alex-coder-dev @cntuan90
